.arvue-dropdown-menu-label {
    color: var(--text-color-hint-strong);
    padding: 0.5rem 0.75rem;
    font-size: .75em;
    line-height: 1rem;
    font-weight: bold;
}

.arvue-dropdown-menu-label.arvue-dropdown-menu-label-inset {
    padding-left: 1.5rem;
}

