.arvue-menu-button-child {
    overflow: hidden;
    padding: 0.5rem;
    background: transparent !important;
    color: var(--menu-link-color);
    box-shadow: none;
    width: 100%;
    display: flex;
    align-items: center;
    outline-offset: 2px;
    gap: 0.5rem;
    margin: 0;
    border-radius: .5em;
    box-sizing: border-box;
    font-size: .875rem;
    transition-property: width, height, padding, gap, font-size;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.arvue-menu-button-child > span:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.arvue-menu-button-child:hover {
    color: var(--menu-link-color-hover) !important;
    background: var(--background-color-input-solid) !important;
}

.arvue-sidebar-menu-item:has([data-sidebar="menu-action"]) .arvue-menu-button-child {
    padding-right: 2rem;
}

.arvue-sidebar-wrapper[data-collapsible="icon"] .arvue-menu-button-child {
    width: 3rem !important;
    height: 3rem !important;
    padding: 1rem !important;
    gap: 1.25rem !important;
    font-size: 1rem;
}

.arvue-menu-button-child[data-disabled="true"] {
    pointer-events: none;
    opacity: 0.5;
}

.arvue-menu-button-child[data-active="true"] {
    color: var(--menu-selected-link-color) !important;
    background: var(--menu-selected-background-color) !important;
}

.arvue-menu-button-child > svg, .arvue-menu-button-child > span > svg {
    width: 1rem !important;
    height: 1rem !important;
    flex-shrink: 0;
}
