.arvue-dialog-footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
}

.arvue-dialog-footer button {
    margin-right: 0;
}

@media (min-width: 760px) {
    .arvue-dialog-footer {
        flex-direction: row;
        justify-content: flex-end;
    }
}
