.arvue-context-menu-radio-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    color: var(--menu-link-color);
    padding: 0.5rem 0.75rem 0.5rem 1.5rem;
    cursor: pointer;
}

.arvue-context-menu-radio-item:focus, .arvue-context-menu-radio-item:hover{
    background: var(--menu-background-color-hover);
    color: var(--menu-link-color-hover);
}

.arvue-context-menu-radio-item[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
}

.arvue-context-menu-radio-item .arvue-context-menu-radio-item-indicator-wrapper {
    pointer-events: none;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    display: flex;
    position: absolute;
    left: .5rem;
}
