.arvue-autocomplete-content {
    width: var(--reka-combobox-trigger-width);
    background: var(--background-color-blank);
    box-shadow: 0 0.25rem 1rem -0.25rem rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    max-height: var(--reka-combobox-content-available-height);
    transform-origin: var(--reka-combobox-content-transform-origin);
    z-index: 110;
}
